.main-container {margin: 0 auto;
    width: 90%;
    max-width: 75ch;
    height: 100vh; 
  }
  
img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 960px;
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
}

.main-header .container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap; 
}

.main-nav ul {
	margin: 1em 0 .5em;
	text-align: center;
}
.main-nav li {
	display: inline;
  font-size: .85rem;
}

.main-nav a {
	display: inline-block;
	padding: .5em 1.5em;
}

  .divhead {
  margin: auto;
  line-height: 1;
  }
  
  .datatime{
    font-size: .9rem;
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    color: black;
  }
  
  .author{
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.9rem
  }
  
  .header {
  font-family: "cy", sans-serif;
  text-align: left;
  font-weight: 800;
  font-size: 4.8rem;
  font-style: normal;
  line-height: 1.15;
  color: #4D4DFF;
  }
  
  .subheader {
  font-family: "cy", sans-serif;
  text-align: left;
  font-weight: 700;
  font-size: 1.25rem;
  font-style: normal;
  line-height: 1.5;
  color: black;
  }
  
  .btn {
   position: relative;
   left: -16px;
   display: inline-block;
   margin: 15px;
   text-align: center;
   font-size: 0.8rem;
   padding: 6px 10px;
   letter-spacing: 0px;
   text-decoration: none;
   color: #4D4DFF;
   background: #ffffff;
   border: 1px solid #d3d3d3;
   cursor: pointer;
   font-family: "montserrat", sans-serif;
   font-weight: 400;
   border-radius: 25px;
  }
  
  .buttons {
    margin: auto;
    line-height: 1.2;
    padding: 0px 0px;
    border: 0px 0px;
    margin: 0px 0px;
  }
  
  .bodycopy{
    color: black;
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    line-height: 1.5;
  }

img{display: flex;
  max-width: 100%;
  height: auto;
}

figure{margin: 0 auto;
  width: 90%;
  max-width: 70ch;}
  
  figcaption{
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: black;
    line-height:1.3;
    
  }
  
  a{
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    color: #3F00FF;
    font-weight:regular;
  }
  
  .subfooter{
    font-size: .9rem;
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    color: black;
  }
  
  .footer{
    font-size: .7rem;
    color: gray;
    font-family: "montserrat", sans-serif;
    font-weight: 400
  }